$theme-primary: mat-palette($mat-amber, 600, 400, 900);
$theme-accent: mat-palette($mat-amber, 600, 400, 900);
$theme-warn: mat-palette($mat-red);

$theme: mat-dark-theme(
    $theme-primary,
    $theme-accent,
    $theme-warn
);
