/*---Global Styles---*/

body {
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    min-width: 320px;
}
/*-- Container --*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo-container {
    overflow: hidden;
}
.logo {
    width: 100%;
    height: auto;
}
.text-color-input, input, textarea {
    color: #b5c2c2!important;
}
.text-color-mayorizta {
    color: #f1a21e;
}
.text-color-white {
    color: #fff;
    font-weight: 600!important;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
// Hide arrow for Chrome
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
// Hide arrow for Firefox
input[type='number'] {
    -moz-appearance:textfield;
}

/*---Font---*/
@import url(https://fonts.googleapis.com/icon?family=Roboto);

/*---Icons---*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/*---End Global Styles---*/

/*---Mayoristas Theme---*/

@import '~@angular/material/theming';
@include mat-core();
@import 'theme';
@include angular-material-theme($theme);

/*---End Garcilaso Theme---*/
