<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" class="mat-typography container">
  <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
    <div class="logo-container">
      <img class="logo" src="../assets/img/logo.png" alt="Mayorizta">
    </div>
    <div class="container mat-display-2 text-color-white bold text-center">¿Necesitas abastecer tu negocio?</div>
    <div class="container mat-display-2 text-color-white bold text-center">¡Encuentra lo que necesitas con un solo proveedor en una misma entrega!</div>
  </div>
  <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start" class="container">
    <br>
    <br>
    <div>
      <div class="mat-headline title text-title text-color-mayorizta">Por favor, déjanos tus datos para ponernos en contacto contigo:</div>
    </div>
    <mat-divider></mat-divider>
    <form (ngSubmit)="validateCheckboxs()" #contactForm="ngForm" fxLayout="column" fxLayout.xs="column"
      fxLayoutGap="10px">
      <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px">
        <div>
          <mat-form-field>
            <input matInput placeholder="Nombres" required [formControl]="name" [(ngModel)]="contact.name" name="name">
            <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Apellidos" required [formControl]="lastname" [(ngModel)]="contact.lastname" name="lastname">
            <mat-error *ngIf="lastname.invalid">{{getErrorMessage('lastname')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Correo" required [formControl]="email" [(ngModel)]="contact.email" name="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput type="number" placeholder="Teléfono" [formControl]="phone" [(ngModel)]="contact.phone" name="phone">
          </mat-form-field>
          <mat-error *ngIf="phone.invalid">{{getErrorMessage('phone')}}</mat-error>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Razón Social" [formControl]="businessName" [(ngModel)]="contact.businessName" name="businessName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput type="number" placeholder="RUC" [formControl]="RUC" [(ngModel)]="contact.RUC" name="RUC">
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <div class="mat-subheading-2 text-color-mayorizta">Categoría de tu negocio *</div>
          <mat-checkbox [(ngModel)]="contact.catering" [formControl]="catering" name="catering">
            <span class="text-color-input">Catering</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.hotel" [formControl]="hotel" name="hotel">
            <span class="text-color-input">Hotel</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.limpieza" [formControl]="limpieza" name="limpieza">
            <span class="text-color-input">Limpieza</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.restaurante" [formControl]="restaurante" name="restaurante">
            <span class="text-color-input">Restaurante</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.otro" [formControl]="otro" name="otro">
            <span class="text-color-input">Otro</span>
          </mat-checkbox>
          <mat-form-field *ngIf="otro.value">
            <input matInput [(ngModel)]="inputOtro" name="otro">
          </mat-form-field>
          <mat-error *ngIf="emptyCategories">Alguna categoría es requerida.</mat-error>
        </div>
        <div fxLayout="column">
          <div class="mat-subheading-2 text-color-mayorizta">Selecciona los productos de tu interés *</div>
          <mat-checkbox [(ngModel)]="contact.abarrotes" [formControl]="abarrotes" name="abarrotes">
            <span class="text-color-input">Abarrotes</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.bebidas" [formControl]="bebidas" name="bebidas">
            <span class="text-color-input">Bebidas</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.frutas" [formControl]="frutas" name="frutas">
            <span class="text-color-input">Frutas</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.verduras" [formControl]="verduras" name="verduras">
            <span class="text-color-input">Verduras</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.all" [formControl]="all" name="all">
            <span class="text-color-input">Todos los anteriores</span>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="contact.otros" [formControl]="otros" name="otros">
            <span class="text-color-input">Otros</span>
          </mat-checkbox>
          <mat-form-field *ngIf="otros.value">
            <input matInput [(ngModel)]="inputOtros" name="otros">
          </mat-form-field>
          <mat-error *ngIf="emptyProducts">Algún producto es requerido.</mat-error>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput [formControl]="comment" [(ngModel)]="contact.comment" placeholder="Comentarios" name="comment" rows="2"></textarea>
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary">
        <span class="text-color-white bold text-center">Enviar</span>
      </button>
      <br>
    </form>
  </div>
</div>
